/* CursedMarkdeep CSS styles by abstractsun. BSD 2-clause. */

/* Basic CSS stuff */

a {
    font-weight: bold;
    text-decoration: underline !important;
}

/* Rainbow links */

a {
    /* Default colors */
    color: #b93f3f !important;
}

a:hover {
    /* Default colors */
    background: #e4ffe4;
}

p:nth-of-type(7n + 2) a {
    color: #b76230 !important;
}
p:nth-of-type(7n + 2) a:hover {
    background: #eefaff;
}

p:nth-of-type(7n + 3) a {
    color: #8a7c47 !important;
}
p:nth-of-type(7n + 3) a:hover {
    background: #fbf1ff;
}

p:nth-of-type(7n + 4) a {
    color: #407b40 !important;
}
p:nth-of-type(7n + 4) a:hover {
    background: #fdf3f3;
}

p:nth-of-type(7n + 5) a {
    color: #0e8bbb !important;
}
p:nth-of-type(7n + 5) a:hover {
    background: #fff5ef;
}

p:nth-of-type(7n + 6) a {
    color: #81499b !important;
}
p:nth-of-type(7n + 6) a:hover {
    background: #fffcee;
}

p:nth-of-type(7n) a {
    color: #bb307e !important;
}
p:nth-of-type(7n) a:hover {
    background: #f4ffe8;
}


li:nth-of-type(7n + 2) a {
    color: #b76230 !important;
}
li:nth-of-type(7n + 2) a:hover {
    background: #eefaff;
}

li:nth-of-type(7n + 3) a {
    color: #8a7c47 !important;
}
li:nth-of-type(7n + 3) a:hover {
    background: #fbf1ff;
}

li:nth-of-type(7n + 4) a {
    color: #407b40 !important;
}
li:nth-of-type(7n + 4) a:hover {
    background: #fdf3f3;
}

li:nth-of-type(7n + 5) a {
    color: #0e8bbb !important;
}
li:nth-of-type(7n + 5) a:hover {
    background: #fff5ef;
}

li:nth-of-type(7n + 6) a {
    color: #81499b !important;
}
li:nth-of-type(7n + 6) a:hover {
    background: #fffcee;
}

li:nth-of-type(7n) a {
    color: #bb307e !important;
}
li:nth-of-type(7n) a:hover {
    background: #f4ffe8;
}


a.level1:nth-of-type(7n + 2) {
    color: #b76230 !important;
}
a.level1:nth-of-type(7n + 2):hover {
    background: #eefaff;
}

a.level1:nth-of-type(7n + 3) {
    color: #8a7c47 !important;
}
a.level1:nth-of-type(7n + 3):hover {
    background: #fbf1ff;
}

a.level1:nth-of-type(7n + 4) {
    color: #407b40 !important;
}
a.level1:nth-of-type(7n + 4):hover {
    background: #fdf3f3;
}

a.level1:nth-of-type(7n + 5) {
    color: #0e8bbb !important;
}
a.level1:nth-of-type(7n + 5):hover {
    background: #fff5ef;
}

a.level1:nth-of-type(7n + 6) {
    color: #81499b !important;
}
a.level1:nth-of-type(7n + 6):hover {
    background: #fffcee;
}

a.level1:nth-of-type(7n) {
    color: #bb307e !important;
}
a.level1:nth-of-type(7n):hover {
    background: #f4ffe8;
}


a:nth-of-type(7n + 2) {
    color: #b76230 !important;
}
a:nth-of-type(7n + 2):hover {
    background: #eefaff;
}

a:nth-of-type(7n + 3) {
    color: #8a7c47 !important;
}
a:nth-of-type(7n + 3):hover {
    background: #fbf1ff;
}

a:nth-of-type(7n + 4) {
    color: #407b40 !important;
}
a:nth-of-type(7n + 4):hover {
    background: #fdf3f3;
}

a:nth-of-type(7n + 5) {
    color: #0e8bbb !important;
}
a:nth-of-type(7n + 5):hover {
    background: #fff5ef;
}

a:nth-of-type(7n + 6) {
    color: #81499b !important;
}
a:nth-of-type(7n + 6):hover {
    background: #fffcee;
}

a:nth-of-type(7n) {
    color: #bb307e !important;
}
a:nth-of-type(7n):hover {
    background: #f4ffe8;
}

/* Cool background */

html {
    background: linear-gradient(0deg,#5899a7 0%, #a3a3a3 100%);
    background-attachment: fixed;
    height: 100%;
}

body {
    background: white;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow: white 0px 0px 5px 5px;
    padding: 40px;
}
